<style type="text/css">
#header, #footer {
    background: linear-gradient(141deg, #90b800 0%, #00afb8 75%); /* because */
}
#header a {
    color: #fff;
    text-decoration: none;
}
</style>

<div id="header">
  <div class="wrap">
    <div class="left">
      <div class="v-center logo-header">
        <div id="logo">
        {% if header == 'SimpleSAMLphp' %}
          <span class="simple">Simple</span>{# -#}
          <span class="saml">SAML</span>{# -#}
          <span class="simple">php</span>
        {% else %}
          <a href="/">{{ header }}</a>
        {% endif %}
          <img class="pure-img hidden" src="" alt="{% trans %}Logo{% endtrans %}">
        </div>
        <p><a href="/module.php/core/frontpage_welcome.php">Admin Backend</a></p>
      </div>
    </div>
  </div>{# wrap #}
</div>{# header #}

