<style type="text/css">
#footer, #header {
    background: linear-gradient(141deg, #017AB7 0%, #36BCAF 50%, #68BC45 100%); /* because */
}
#header a, #footer a {
    color: #fff;
    text-decoration: none;
}
</style>

<div id="header">
  <div class="wrap">
    <div class="left">
      <div class="v-center logo-header">
        <div id="logo">
        {% if header == 'SimpleSAMLphp' %}
          <span class="simple">Simple</span>{# -#}
          <span class="saml">SAML</span>{# -#}
          <span class="simple">php</span>
        {% else %}
          <a href="/">{{ header }}</a>
        {% endif %}
          <img class="pure-img hidden" src="" alt="{% trans %}Logo{% endtrans %}">
        </div>
        <p>
          <a href="/module.php/core/frontpage_welcome.php">Admin Backend</a> |
          <a href="/module.php/totara/manage_metadata.php">Manage Metadata</a>
        </p>
      </div>
    </div>
  </div>{# wrap #}
</div>{# header #}

